
.bg-dark {
    background-color: var(--section-bg) !important;
}

.btn-navItem {
    background-color: var(--orange) !important;
    color: var(--white);
    font-weight: 500;
    transition: transform .2s;
}

.btn-navItem:hover {
    transform: scale(1.1);
    background-color: var(--orange) !important;
}

.img-border {
    border-radius: 20px;
}

.price {
    font-weight: bold;
}

.product-item {
    transition: transform .2s;
}

.product-item:hover {
    transform: scale(1.04);
}

.checked {
    color: var(--star);
}

.body-text {
    color: var(--body-text);
    text-decoration: none;
}

.section-bg {
    background-color: var(--section-bg);
}

.section-bg2 {
    background-color: var(--section-bg2);
}